<div class="blog-feed">
{{#if team.userCanBlog}}
<a href="/team/{{team.urlID}}/new/post" id="write-blog" role="button" class="button-compact secondary"><span class="fa fa-fw fa-pencil spaced-icon"></span> {{{__ "write a blog post"}}}</a><p>
{{/if}}
{{#unless blogPosts}}
{{{__ "no blog posts"}}}
{{/unless}}
{{#if blogPosts}}
{{#each blogPosts}}
{{> blog_post post=this}}
{{#unless @last}}
<hr class="feed-separator">
{{/unless}}
{{/each}}
{{/if}}
<br>
{{#if blogPostsUTCISODate}}
<a class="nav-pill" href="/team/{{team.id}}/blog/before/{{blogPostsUTCISODate}}"{{#unless noAccessKey}} accesskey="<" title="{{{__ "accesskey" "<"}}}"{{/unless}}>
<span class="fa fa-angle-double-left fa-fw"></span> {{{__ "older blog posts"}}}
</a>
{{/if}}
</div>
