<!doctype html>
<html>
  <body>
    <p>{{__ "account request notification greeting"}}</p>
    <p>{{{__ "account request notification intro"}}}</p>

    <h3>{{__ "account request notification details header"}}</h3>
    <p><strong>{{__ "account request notification field email"}}</strong> {{requesterEmail}}</p>
    <p><strong>{{__ "account request notification field languages"}}</strong><br>{{languages}}</p>
    <p><strong>{{__ "account request notification field planned reviews"}}</strong><br>{{plannedReviews}}</p>
    <p><strong>{{__ "account request notification field about links"}}</strong><br>{{aboutLinks}}</p>

    <p>
      {{__ "account request notification instructions"}}<br>
      <a href="{{manageURL}}">{{manageURL}}</a>
    </p>
    <p>{{{__ "account request notification action info"}}}</p>
    <p>
      {{{__ "account request notification signature"}}}
    </p>
  </body>
</html>
