<!doctype html>
<html>
  <body>
    <p>{{__ "account request approval greeting"}}</p>
    <p>{{{__ "account request approval intro"}}}</p>
    <p>
      {{__ "account request approval instructions"}}<br>
      <a href="{{registerURL}}">{{registerURL}}</a>
    </p>
    <p>{{__ "account request approval next steps"}}</p>
    <p>
      {{{__ "account request approval contact"}}}
    </p>
    <p>
      {{{__ "account request approval signature"}}}
    </p>
  </body>
</html>
