<!doctype html>
<html>
  <body>
    <p>{{__ "account request notification greeting"}}</p>
    <p>{{{__ "account request notification intro"}}}</p>
    <p>
      {{__ "account request notification instructions"}}<br>
      <a href="{{manageURL}}">{{manageURL}}</a>
    </p>
    <p>{{{__ "account request notification action info"}}}</p>
    <p>
      {{{__ "account request notification signature"}}}
    </p>
  </body>
</html>
