<!doctype html>
<html>
  <body>
    <p>{{__ "password reset email greeting"}}</p>
    <p>{{{__ "password reset email intro"}}}</p>
    <p>
      {{{__ "password reset email instructions" expirationHours}}}<br>
      <a href="{{resetURL}}">{{resetURL}}</a>
    </p>
    <p>{{__ "password reset email ignore"}}</p>
    <p>
      {{{__ "password reset email contact"}}}
    </p>
    <p>
      {{{__ "password reset email signature"}}}
    </p>
  </body>
</html>
