{{#each pageErrors}}
  <div class="error">{{{this}}}</div>
{{/each}}
<div class="warning-box">
  <div class="delete-preamble">
  {{{__ "delete preamble"}}}
  </div>
  <form method="post">
  <input type="hidden" value="{{csrfToken}}" name="_csrf">
  <button type="submit" id="delete" name="delete-action" value="delete" class="message-button-destructive" accesskey="d" title="{{{__ "accesskey" "d"}}}"><span class="fa fa-fw fa-trash spaced-icon"></span> {{{__ "delete"}}}</button>
  <a class="cancel-link" href="/team/{{blogPost.teamID}}/post/{{blogPost.id}}">{{{__ "cancel"}}}</a>
  </form>
</div>

<div class="grid grid-halves">
<div>
<h1>{{mlSafeText blogPost.title}}</h1>
<h2>{{{__ "team blog" (link ".." (mlSafeText team.name false))}}}</h2>

{{>blog_post post=blogPost skipTitle=true}}
</div>
</div>
