<div class="centered-form">
<h1>{{{__ "forgot password"}}}</h1>
{{#if requestComplete}}
  <p>{{{__ "forgot password request confirmation" requestedEmail}}}</p>
{{else}}
  <p>{{{__ "forgot password intro"}}}</p>
{{/if}}
<p>{{{__ "forgot password details" cooldownHours}}}</p>
{{#unless requestComplete}}
  {{> page_errors}}

  <form action="/forgot-password" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <fieldset>
      <label for="email">
        {{{__ "email address"}}} <span class="required">*</span>
        <input
          id="email"
          name="email"
          type="email"
          data-auto-trim
          data-required
          data-focus
          placeholder="{{{__ "enter email"}}}">
      </label>

      <div class="validation-error" id="required-fields-message">
        {{{__ "complete all required fields"}}}
      </div>

      <button type="submit" data-check-required>
        {{{__ "send reset link"}}}
      </button>

      <p>{{{__ "remember password" }}}</p>
    </fieldset>
  </form>
{{/unless}}
</div>
