<div class="centered-form">
  <h1>{{{__ "request account"}}}</h1>

  <p>{{{__ "request account intro"}}}</p>

  {{> page_errors}}

  <form action="/actions/request-account" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <label for="planned-reviews">
      {{{__ "what kind of reviews planning"}}}
      <textarea
        id="planned-reviews"
        name="plannedReviews"
        rows="4"
        required>{{#if formValues}}{{formValues.plannedReviews}}{{/if}}</textarea>
    </label>

    <label for="account-languages">
      {{{__ "which languages interested"}}}
      <input
        type="text"
        id="account-languages"
        name="languages"
        value="{{#if formValues}}{{formValues.languages}}{{/if}}"
        required>
    </label>

    <label for="about-url">
      {{{__ "where find out more about you"}}}
      <textarea
        id="about-url"
        name="aboutLinks"
        rows="3"
        required
        placeholder="https://">{{#if formValues}}{{formValues.aboutLinks}}{{/if}}</textarea>
    </label>

    <label for="email">
      {{{__ "email for invite link"}}}
      <input
        type="email"
        id="email"
        name="email"
        value="{{#if formValues}}{{formValues.email}}{{/if}}"
        required>
    </label>

    <label for="terms-accepted" class="checkbox-with-margin">
      <input
        type="checkbox"
        id="terms-accepted"
        name="termsAccepted"
        required
        {{#if formValues.termsAccepted}}checked{{/if}}>
      {{{__ "read and agree to terms"}}}
    </label>

    <button type="submit">
      {{{__ "submit request"}}}
    </button>
  </form>
</div>
