{{#if tokenValid}}
  <p>{{{__ "enter new password"}}}</p>
  {{> page_errors}}

  <form class="pure-form pure-form-aligned" action="/reset-password/{{token}}" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <fieldset>
      <div class="pure-control-group password-control">
        <label for="password">{{{__ "new password"}}} <span class="required">*</span></label>
        <input
          id="password"
          name="password"
          type="password"
          data-required
          data-focus
          minlength="6"
          placeholder="{{{__ "enter password"}}}"
          class="pure-input-1 login-form-input">
        <button type="button" class="password-reveal-toggle pure-button button-rounded nojs-hidden" aria-pressed="false"><span class="fa fa-fw fa-eye spaced-icon">&nbsp;</span>{{{__ "show password"}}}</button>
      </div>

      <div class="validation-error" id="required-fields-message">
        {{{__ "complete all required fields"}}}
      </div>

      <button type="submit" data-check-required class="pure-button pure-button-primary button-rounded">
        {{{__ "reset password"}}}
      </button>
    </fieldset>
  </form>
{{else}}
  <div class="error-box">
    {{{__ "invalid reset token"}}}
  </div>
{{/if}}
