<div class="centered-form">
<h1>{{{__ "reset password"}}}</h1>
{{#if tokenValid}}
  <p>{{{__ "enter new password"}}}</p>
  {{> page_errors}}

  <form action="/reset-password/{{token}}" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <fieldset>
      <label for="password" class="password-control">
        {{{__ "new password"}}} <span class="required">*</span>
        <input
          id="password"
          name="password"
          type="password"
          data-required
          data-focus
          minlength="6"
          placeholder="{{{__ "enter password"}}}">
        <button type="button" class="password-reveal-toggle secondary nojs-hidden" aria-pressed="false"><span class="fa fa-fw fa-eye"></span> {{{__ "show password"}}}</button>
      </label>

      <div class="validation-error" id="required-fields-message">
        {{{__ "complete all required fields"}}}
      </div>

      <button type="submit" data-check-required>
        {{{__ "reset password"}}}
      </button>
    </fieldset>
  </form>
{{else}}
  <div class="error-box">
    {{{__ "invalid reset token"}}}
  </div>
{{/if}}
</div>
