<div class="centered-form">
<h1>{{{__ "sign in"}}}</h1>
<p>{{{__ "papers please" }}}</p>
{{> page_errors}}
<form action="/signin" method="post">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<input type="hidden" name="returnTo" value="{{returnTo}}">
    <fieldset>
        <label for="username">
            {{{__ "username"}}} <span class="required">*</span>
            <input id="username" name="username" type="text" data-auto-trim placeholder="{{{__ "enter username"}}}" data-required data-focus>
        </label>

        <label for="password">
            {{{__ "password"}}} <span class="required">*</span>
            <input id="password" name="password" type="password" placeholder="{{{__ "enter password"}}}" data-required>
        </label>
        <div class="validation-error" id="required-fields-message">
        {{{__ "complete all required fields"}}}
        </div>
        <button id="signin-button" data-check-required type="submit">{{{__ "sign in"}}}</button>
        <p><a href="/forgot-password">{{{__ "forgot your password"}}}</a></p>
        {{#if accountRequestsEnabled}}
        <p>{{{__ "no account yet invite only" }}}</p>
        {{else}}
        <p>{{{__ "no account yet" }}}</p>
        {{/if}}
    </fieldset>
</form>
</div>
