<div class="centered-column">
<h1>{{{__ titleKey}}}</h1>
<p class="lead">{{{__ "teams intro"}}}</p>
<p>
{{#if user}}
{{#if user.isTrusted}}
<a href="/new/team" id="add-team" role="button" class="secondary"><span class="fa fa-users fa-fw spaced-icon"></span> {{{__ "new team"}}}</a>
<br>
<br>
{{else}}
{{{__ "create your own team untrusted"}}}
{{/if}}
{{/if}}
</p>
<div class="team-list">
{{#each teams}}
<b><a href='/team/{{{this.urlID}}}'>{{mlSafeText this.name}}</a></b><br>
<i>{{mlSafeText this.motto false}}</i>
<p>
{{{mlHTML this.description.html}}}
<p>
{{#unless @last}}
<hr class="feed-separator">
{{/unless}}
{{/each}}
</div>
</div>
