{{#if deleteForm}}
<div class="warning-box">
  <div class="delete-preamble">
  {{{__ "delete preamble"}}}
  </div>
  <form method="post" name="delete-form">
  <input type="hidden" value="{{csrfToken}}" name="_csrf">
  <button type="submit" id="delete" name="team-action" value="delete" class="message-button-destructive" accesskey="d" title="{{{__ "accesskey" "d"}}}"><span class="fa fa-fw fa-trash spaced-icon"></span> {{{__ "delete"}}}</button>
  <a class="cancel-link" href="/team/{{{team.urlID}}}">{{{__ "cancel"}}}</a>
  </form>
</div>
{{/if}}
<div id="page-messages">
{{#each pageMessages}}
<div class="message-box">{{{this}}}</div>
{{/each}}
</div>
<h1 class="grid-adjacent">{{{__ "team title" (mlSafeText team.name)}}}</h1>
<div class="grid grid-with-sidebar">
{{!LEFT COLUMN: REVIEWS}}
<div>
<div class="headline-with-link">
<h2>{{{__ "latest review"}}}</h2>
{{#if team.reviews}}
<span class="view-all-link no-print"><a class="nav-pill" href="/team/{{{team.urlID}}}/feed">{{{__ "view all"}}}</a></span>
{{/if}}
</div>
{{#if team.userIsMember}}
<p>
<a href="/team/{{team.urlID}}/new/review" id="write-review" role="button" class="button-compact secondary"><span class="fa fa-fw fa-pencil spaced-icon"></span> {{{__ "write a review"}}}</a>
{{/if}}
<p>
{{#if team.reviews}}
{{>feed feedItems=team.reviews teamFeed=true}}
{{else}}
{{{__ "no reviews for team"}}}
{{/if}}
<p>
{{!BLOG POSTS}}
<div class="team-blog">
<div class="headline-with-link">
<h2>{{{__ "latest blog posts"}}}</h2>
{{#if blogPosts}}
<span class="view-all-link no-print"><a class="nav-pill" href="/team/{{{team.urlID}}}/blog">{{{__ "view all"}}}</a></span>
{{/if}}
</div>
{{>blog_feed noAccessKey=true}}
</div>
{{!/BLOG POSTS}}
</div>
{{!/LEFT COLUMN}}
{{!RIGHT COLUMN: TEAM PROFILE}}
<div>
<div class="team-info">
<h2>{{{__ "team profile heading"}}}</h2>
<span class="team-motto">{{mlSafeText team.motto false}}</span>
<p>
{{{mlHTML team.description.html}}}
<p>
<b>{{{__ "number of members"}}}</b> {{{team.members.length}}} <a href="/team/{{{team.urlID}}}/members">{{{__ "view list"}}}</a>
</p>
<p>
<b>{{{__ "number of reviews"}}}</b> {{{team.reviewCount}}}
</p>
<p>
<b>{{{__ "moderators"}}}</b>
<ul class="team-member-list">
{{#each team.moderators}}
<li> {{{userLink this}}}{{#if (lookup ../founder this.id)}}<span class="user-team-badge">{{{__ "founder badge"}}}{{/if}}</span>
{{/each}}
</ul>
{{!JOIN FORM}}
{{#if team.userCanJoin}} {{!Show join form to logged-in users who are not members}}
<form name="join-team" action="/team/{{{team.urlID}}}/join" method="post" class="no-print">
<input type="hidden" value="{{csrfToken}}" name="_csrf">
<hr class="team-separator">
{{>page_errors pageErrors=joinErrors}}
<h3>{{{__ "join this team"}}}</h3>

{{#if (mlHTML team.rules.html)}}
<b>{{{__ "team rules label"}}}</b>
<div class="team-rules">
{{{mlHTML team.rules.html}}}
</div>

<label for="agree-to-rules">
<input type="checkbox" id="agree-to-rules" name="agree-to-rules">
{{{__ "agree to the rules"}}}
</label>
{{/if}}
{{#if team.modApprovalToJoin}}
<div class="join-textarea-container">
<i>{{{__ "approval required to join"}}}</i>
<textarea class="join-textarea" name="join-request-message">
</textarea>
</div>
<button type="submit" name="team-action" value="join" class="button-compact-primary">{{{__ "request membership"}}}</button>
{{else}}
<button type="submit" name="team-action" value="join" class="button-compact-primary">{{{__ "join"}}}</button>
{{/if}}
</form>
{{!/JOIN FORM}}
{{!JUST THE RULES}}
{{else}}
{{#if (mlHTML team.rules.html)}}
<b>{{{__ "team rules label"}}}</b>
<div class="team-rules">
{{{mlHTML team.rules.html}}}
</div>
{{/if}}
{{/if}}
{{!/JUST THE RULES}}
{{!LEAVE FORM}}
{{#if team.userCanLeave}}
<form name="leave-team" action="/team/{{{team.urlID}}}/leave" class="no-print" method="POST">
<input type="hidden" value="{{csrfToken}}" name="_csrf">
<button type="submit" name="team-action" value="leave" class="button-compact-primary">{{{__ "leave team"}}}</button>
</form>
{{/if}}
{{!/LEAVE FORM}}
{{!EDIT/DELETE}}
{{#if team.userCanEdit}}
<h3>{{{__ "moderator actions"}}}</h3>
{{/if}}
{{#if team.userCanEdit}}
<a href="/team/{{{team.urlID}}}/edit" id="edit-team" role="button" class="button-compact secondary no-print" accesskey="e" title="{{{__ "accesskey" "e"}}}"><span class="fa fa-fw fa-pencil spaced-icon"></span> {{{__ "edit"}}}</a>
{{/if}}
{{#if team.userCanDelete}}
{{#unless deleteForm}}
<a href="/team/{{{team.urlID}}}/delete" id="delete-team" role="button" class="button-destructive no-print" accesskey="d" title="{{{__ "accesskey" "d"}}}"><span class="fa fa-fw fa-trash spaced-icon"></span> {{{__ "delete"}}}</a>
{{/unless}}
{{/if}}
{{!/EDIT/DELETE}}
</div>
</div>
{{!/RIGHT COLUMN}}
</div>
<!-- Permanent URL: {{qualifiedURL}}team/{{{team.urlID}}} -->
