<h2>{{{__ "team title" (link teamURL teamName)}}}</h2>
{{>page_errors}}
<div id="page-messages">
{{#each pageMessages}}
<div class="message-box">{{{this}}}</div>
{{/each}}
</div>
{{#if team.joinRequests.length}}
<form name="manage-join-requests" method="post">
<input type="hidden" value="{{csrfToken}}" name="_csrf">
<ul>
{{#each team.joinRequests}}
<li>
<b>{{{__ "request by"}}}</b><br>
{{{userLink this.user}}}
<p>
<b>{{{__ "request date"}}}</b><br> {{this.requestDate}}

{{#if this.requestMessage}}
<p>
<b>{{{__ "join request message"}}}</b><br>
<i>{{{this.requestMessage}}}</i>
{{/if}}
<p>
<b>{{{__ "choose action"}}}</b>
<p>
<label for="action-{{this.id}}-ignore">
<input type="radio" name="action-{{this.id}}" value="ignore" id="action-{{this.id}}-ignore" checked>
{{{__ "defer request"}}}
</label>
<label for="action-{{this.id}}-reject">
<input type="radio" name="action-{{this.id}}" value="reject" id="action-{{this.id}}-reject">
{{{__ "reject request"}}}
</label>
<textarea class="reject-request-textarea" name="reject-reason-{{this.id}}" placeholder="{{{__ "enter message"}}}"></textarea>
<label for="action-{{this.id}}-accept">
<input type="radio" name="action-{{this.id}}" value="accept" id="action-{{this.id}}-accept">
{{{__ "accept request"}}}
</label>
{{/each}}
</ul>
<p>
<button type="submit" id="submit" name="manage-requests-action" value="process-requests">{{{__ "process requests"}}}</button>

</form>
{{else}}
{{{__ "no pending join requests"}}}
{{/if}}
